
<div class="ps-2 text-center">
    <h3 class="text-center">{{product.title}}</h3>
    <p>Details of Products</p>
    <ul class="list-style-type: none">
        <li>ID: {{product.id}}</li>
        <li>Photo: {{product.photo}}</li>
        <li>Category: {{product.category}}</li>
        <li>Price: {{product.price}}</li>
        <li>Stock: {{product.stock}}</li>
    </ul>
</div>